<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar><ion-title size="large">Historial</ion-title></ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10"></ion-col>
        <ion-col size="2"><ion-button expand="block" zise="large" color="light" (click)="filterH()"><ion-icon name="funnel-outline"></ion-icon></ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="line"><b>Corte</b></ion-col>
        <ion-col size="3" class="line"><b>Piezas</b></ion-col>
        <ion-col size="3" class="line"><b>Prod. por</b></ion-col>
        <ion-col size="3" class="line"><b>Fecha de entrega</b></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="line">4240</ion-col>
        <ion-col size="3" class="line">1500</ion-col>
        <ion-col size="3" class="line">Linea 1</ion-col>
        <ion-col size="3" class="line">10/04/24</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
